/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>
#include "quartz58-pinctrl.dtsi"

/ {
    chosen {
        // zephyr,display = &oled;  // Disabled for nice view
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <13>;
        rows = <5>;
// Left side: 7 cols (0-6), Right side: 6 cols (7-12)
// | ESC | 1  | 2  | 3  | 4  | 5  |                           | 6  | 7  | 8  | 9  | 0  | `  |
// | TAB | Q  | W  | E  | R  | T  |     | up   |              | Y  | U  | I  | O  | P  | -  |
// | CTL | A  | S  | D  | F  | G  | left|      |right|        | H  | J  | K  | L  | ;  | '  |
// | SFT | Z  | X  | C  | V  | B  | [   | down |         | ] | N  | M  | ,  | .  | /  | SFT|
//                   | ALT| GUI| LO| SPC|                |ENT| RA|BSP | GUI|
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                                RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)         RC(1,6)                RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(0,6)        RC(2,6)         RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(4,5) RC(3,6)        RC(4,7) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12)
                        RC(4,1) RC(4,2) RC(4,3) RC(4,4)                RC(4,8) RC(4,9) RC(4,10) RC(4,11)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        // GPIO pins will be defined in left/right overlays
    };
};

// Custom nice!view SPI bus - required by nice_view_gem shield
nice_view_spi: &spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    
    // CS pin D4 (P0.5) - adjust to match your hardware
    cs-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>;
};
